<% provide(:ttl, "About") %>
<!DOCTYPE html>
<html>

<body>
<h1>Statpages#about</h1>
<p>Find me in app/views/statpages/about.html.erb</p>
<p><%= link_to "back to main", root_path %> </p>
</body>

</html>
