
<% provide(:ttl, "Contacts") %>
<!DOCTYPE html>
<html>

<body>
  <h1>Contact</h1>
  <p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contactpage</a>.
  </p>
<p><%= link_to "back to main", root_path %> </p>
</body>

</html>
